# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# macOS
# ===============================
.DS_Store

# ===============================
# Webots
# ===============================
*.wbo
*.wbt~
*.cache
webots_cache/

# ===============================
# Data & results (generated)
# ===============================
data/raw/
results/
logs/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Temporary
# ===============================
tmp/
